/*change these colors to your theme*/

.dashboardbtn.active,.dashboardbtn:hover,.dashboardbtn2{
	background: #427500;
	}
	
	.dashboardbtn2:hover,.dashboardbtn {
	color: #427500;
	}
	.dashboardbtn2:hover,.dashboardbtn  {
    border: 2px solid #292929;
 }
/*End******************************/
	
	
	
.dashBoard {
    padding: 70px;
}
.dashBoard a{
	text-decoration:none !important;     color: #000;
	}
.dashboardbtn.active {
    text-decoration: none;
    transition: all ease 0.4s;
    color: #fff;
    border: 2px solid transparent;
}
.dashboardbtn:hover {
    text-decoration: none;
    transition: all ease 0.4s;
    color: #fff;
    border: 2px solid transparent;
}
.dashboardform {
    border-right: 1px solid #ccc;
}
.margin-bottom-5 {
    margin-bottom: 5%;
}
.mainForm label {
    font-size: 13px;
    color: #000;
    font-weight: 600;
    margin-bottom: 4px;
}
.mainForm input, .mainForm textarea {
    width: 100%;
    font-size: 12px;
    padding: 15px 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.dashboardbtn2 {
    font-weight: 600;
    color: #fff;
    display: block;
    padding: 13px;
    font-size: 15px;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: .3s;     border-radius: .25rem;
}
.dashboardbtn2:hover {
    transition: .3s;
    background: transparent;
}
.dashboardbtn {
    font-weight: 700;
    padding: 10px 29px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 transparent;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    transition: all ease 0.4s;
    display: block;
    text-align: center;
    background: transparent;
    margin-bottom: 5%;
}
.dashBoardH4 {
    margin-top: 0;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.box {
    padding: 15px;
    border: 2px solid #427500;
    margin-bottom: 30px;
    min-height: 179px;
}
.box-title {
    padding-top: 18px;
}
.box-title h3 {
    margin-top: 0px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
}