@media only screen and (max-width:990px) {
    .product-grid {
        margin-bottom: 30px
    }
}
@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media only screen and (min-width: 1200px),
only screen and (max-width: 1199.98px) and (min-width: 992px) {
    .cart-update-option {
        margin-top: 0;
        border-top: 0 solid transparent;
    }
}


@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}
