@font-face {
  font-family: tahoma;
  src: url(fonts/tahoma_0.ttf);
}

@font-face {
  font-family: tahoma_1;
  src: url(fonts/tahomabd_0.ttf);
}


body {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  top: 0px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 6px;
}

.social-icons-ul {
  margin-top: 12%;
  position: fixed;
  right: 115px;
  z-index:99999;
}

.schedule-btn {
  padding: 12px 35px;
  ;
  background-color: rgba(255, 194, 0, 1);
  border: solid transparent 0px;
  cursor: pointer !important;
  box-shadow: 0.14px 4px 4px 0px rgba(0, 0, 0, 0.27);
  border-radius: 0px;
  /* font: normal normal normal 21px/1.4em brandon-grot-w01-light,sans-serif; */
  font-size: 21px;
  font-weight: normal;
}

.schedule-btn:hover {
  background-color: #414141;
  color: rgba(255, 194, 0, 1);
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s !important;
}

#background {
  height: 130vh;
  object-fit: fill;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -1;
  top: 0;
  width: 100%;
  
}
.bg{
	
background-image: url(../images/bg-black.png);
	
height: auto;
	
width: 100%;
	}

.logo {
  margin-top: 35px;
}

/*.first-circle{

  border: 1px solid #1d97a2;

}*/

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.bg-dark-blue {
  background: #1b292f;
}

.text-yellow {
  color: #c49a0c;
}

.text-white {
  color: #fff !important;
}

.padding-150 {
  padding: 150px 0;
}

.second-sec h2 {
  color: #FFC200;
  letter-spacing: 0.1em;
  font-size: 32px;
  font-weight: 600;
  line-height: 49px;
  font-family: 'Poppins', sans-serif;
}

.third-sec h3 {
  color: #FFC200;
  letter-spacing: 0.1em;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4em;
  font-family: 'Poppins', sans-serif;
}

.third-sec p {
  /* font-family: poppins-extralight, poppins, sans-serif; */
  font-family: 'Poppins', sans-serif;
  color: #CCCCCC;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4em;
  margin: 0 auto;
}

.yellow-line-mar {
  margin: 0 0 55px 0 !important;
}

.third-sec-p {
  margin-top: 40px !important;
}

.center-div {
  margin: 0 auto;
  display: table;
  float: none;
}

.second-sec p {
  /* font-family: poppins-extralight, poppins, sans-serif; */
  font-family: 'Poppins', sans-serif;
  color: #1b292f;
  font-size: 22px;
  font-weight: 200;
  line-height: 1.4em;
  margin: 0 auto;
}

.yellow-cont .yellow-line {
  width: 111px;
  height: 5px;
  background-color: rgba(255, 194, 0, 0.5);
  margin: 17px 0;
}

section-tech {
  margin: 50px 0;
}

.section-tech-title {
  background-color: #fff;
  margin-bottom: 50px;
  overflow: hidden;
  color: #ff4444;
  /*border-left: 5px solid #ff4444;*/
}

.services-inner {
  overflow: hidden;
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.service {
  padding: 85px 106px;
}

.service h3 {
  color: #FFC200;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.2em;
  font-weight: 800;
  padding: 15px 0px;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
}

.dark-blue {
	
	color:#1A292F !important;
	}

.service-content p {
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
}

.yellow-width-work {
  width: 156px;
}

.yellow-width-tech {
  width: 211px;
}

.yellow-width-contact {
  width: 191px;
}

.services-color1 {
  background-color: #1b292f;
}

.services-color2 {
  background-color: #ededed;
}

.services-head {
  color: #1a292f;
}

.services-para {
  color: #000000 !important;
}

.contact-head {
  color: #FFC200;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.contact-para {
  font-family: 'Poppins', sans-serif;
  color: #1B292F;
  font-size: 18px;
  font-weight: 200;
}

.contact-anchor {
  color: #1B292F !important;
}

.contact-anchor:hover {
  text-decoration: none !important;
}

.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .8);
  overflow: auto;z-index:99999;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 10px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0, 0, .3, 1.6);
}

.modal-header {
  padding: 8px 40px;
  background: #ededed;
  color: #ffffff;
}

.modal-body {
    background: #ededed;
    padding: 0px 40px 40px 40px;
}

.main-heading{

  text-align: center;
  letter-spacing: 0.2em;
  font-size: 70px !important;
  color: #FFC200;
  font-weight: 600;
}


/* Close Button */

.close-modal {
    text-align: right;
    cursor: pointer;
    color: #0C1C94 !important;
    font-size: 30px !important;
}


/* Animation */

@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}


/* Aditional Styles */

* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

p {
  line-height: 1.4em;
}

.modal-trigger,
button {
  top: 50%;
  right: 0;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  text-decoration: none;
}

.modal-trigger {
  position: absolute;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99999;
  transition: ease .2s;
  float: right;
  position: fixed;
}

.features-heading{

color: #FFC200 !important;

font-size: 35px;

font-family: 'Poppins', sans-serif;

font-weight: 600;
}

.features-para{

  font-size: 18px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.features-list{

  padding-left: 0px !important;
}

.features-list li {

  /*list-style-type: disc !important;*/
  font-size: 18px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  line-height: 16px;
}

.features-line{

   line-height: 0 !important;
}

.features-video{object-fit:cover;height: 596px;width:100%;}

.modal-box{

  max-width: 978px !important;
}

.features-div-sec{

  background-color: #fff;
  z-index: 9999;
}

.features-div-pad{padding: 60px 50px 28px;height: 596px;}

.features-yellow-wid{

  width: 271px !important;
}

.features-italic{

  font-style: italic;
}

.features-lh{

  line-height: 22px !important;
}

button {
  border: 1px solid #333333;
  outline: none;
  color: #333333;
}

.modal-trigger:hover {
  /* padding: 20px 60px; */
}

.menu {
  margin: 0px 0px 0px auto;
  display: block;
  position: relative;
  text-align: center;
}

.menu li {
  list-style-type: none !important;
}

.menu > li > a{

text-decoration: none !important;

color: #0C1C94 !important;

list-style: none;

font-size: 36px;

font-weight: 1000;

line-height: 70px;
}

.menu > li > a:hover{

  color: #ffc200 !important;
}

.animated {
  background-image: url(/css/images/logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 75px;
  margin-bottom: 60px;
  left: 0;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

animation-name: fadeInDown;
img.menu {
  width: 79px;
  padding: 4px 6px;
}

.menu-img {
  width: 60px;
}

.bg-white {


  background: #fff;
}

.modal-header{

  border-bottom: none !important;

}

.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 500px;
    text-align: center;
    background: transparent;
    border: 3px solid #3ff1f9e3;
    /* color: #ffc200; */
    position: relative;
}
.circle2 {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    font-size: 50px;
    margin: -50px 0 0 -50px;
    color: #fff;
    line-height: 500px;
    text-align: center;
    background: transparent;
    border: 3px solid #5bf1f863;
    /* color: #ffc200; */
    position: absolute;
}



.circle1 {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    margin: -50px 40px 40px -50px;
    position: absolute;
    line-height: 500px;
    text-align: center;
    background: transparent;
    border: 3px solid #5bf1f896;
    /* color: #ffc200; */
}


.circle h1{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: -65px;
  right: 0;
  top: 145px;
  letter-spacing: 0.2em;
  font-size: 70px;
  width: 635px !important;
  font-weight: 600;
  color: #ffc200;
  font-weight: 700;
}

.fade-scale {
  /*transform: scale(0);*/
  opacity: 0;
  -webkit-transition: all 0.9s linear;
  -o-transition: all 0.9s linear;
  transition: all 0.9s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
  transition: all 0.9s linear;
}


.popup-close{

    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 45px;
    border: none;
    padding: 0px;
}

.popup-main{

  border: 1px solid black !important;
  padding: 9px 0px;
}

.popup-modal{

    background: none !important;
    padding: 14px !important;
}


.popup-first-para{

    font-family: 'tahoma',tahoma_1;
    font-size: 34px;
    color: #2a2a2a;
    font-weight: 700;
    letter-spacing: 0.04em;
    padding-top: 75px;
}

.popup-second-para{

    font-family: "open sans", sans-serif;
    font-size: 22px;
    color: #2a2a2a;
    font-weight: 400;

}

.popup-play-para{

    font-family: "open sans", sans-serif;
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 400;
    text-decoration: none !important;
}
.popup-play-para:hover{

  color: #000000 !important;
}

.email-input{

    width: 240px !important;
    height: 44px !important;
    font-size: 14px !important;
    padding: 0px 10px !important;
}

.popup-schedule-btn {

    padding: 8px 15px;
    background-color: rgba(255, 194, 0, 1);
    border: solid transparent 0px;
    cursor: pointer !important;
    border-radius: 0px;
    font-size: 18px;
    margin-top: -4px;
    font-weight: 800;
    height: 44px;
}


@media(max-width: 767px) {
    
    .con-sub-btn{
        
        width: 100px !important;
    }
    
  .services-inner {
    display: block;
  }
  .service {
    padding: 30px 17px;
  }

  .hidden-mobile{

    display: none;
  }

  .features-video{

    height: auto !important;
  }

  .yellowLine-none{

    display: none !important;
  }

  .social-icons-ul{

    right: 35px !important;
    top: 55px;
  }

    .modal-trigger, button{

    padding: 0px !important;
  }

  .popup-first-para{

    font-size: 25px !important;
  }
  .popup-second-para{

    font-size: 17px;
  }
}

@media only screen and (max-width:1024px) {
  #background {
    object-fit: cover !important;
  }
}




@media (min-width: 992px){
.modal-lg-pop {
    width: 971px;
}
}


@media (max-width: 768px){

  .service {
    padding: 85px 12px !important;
}


.features-div-pad{

padding: 0px 25px;
}
}


@media (min-width: 1024px){


}






.circle-menu {
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background: transparent;
    border: 3px solid #3ff1f9e3;
    /* color: #ffc200; */
    position: absolute;
    margin: 0px auto;
    display: block;
    left: 0;
    right: 0;
    top: -75px;
}
.circle-menu-2 {
    width: 700px;
    height: 700px;
    text-align: center;
    border-radius: 50%;
    font-size: 50px;
    padding: 40px 0px 2px 0px;
    color: #fff;
    text-align: center;
    background: transparent;
    border: 3px solid #3ff1f957;
    /* color: #ffc200; */
    position: absolute;
    margin: 0px auto;
    display: block;
    left: 0;
    top: -180px;
    right: 0;
}

.circle-menu-3 {
    width: 600px;
    height: 600px;
    text-align: center;
    border-radius: 50%;
    font-size: 50px;
    padding: 40px 0 0 0;
    color: #fff;
    text-align: center;
    background: transparent;
    border: 3px solid #3ff1f970;
    /* color: #ffc200; */
    position: absolute;
    display: block;
    margin: 0px auto;
    left: 0;
    right: 0;
    top: -130px;
    text-shadow: 0 0 black;
}
.bar {
    float: left;
    width: 100%;
    background: #383636;
    padding: 0;
    top: -5px;
    position: relative;
    bottom: 0;
}

.contact-frm{
    
    text-align: center;
}

.contact-frm label{
    
    color: #1A292F;
    font-size: 18px;
}

.contact-frm textarea{
    
    resize: none;
}

.contact-frm input{
    
    border-radius: 4px !important;
    height: 45px;
    /*height: 45px !important;*/
    /*border-right: none !important;*/
    /*border-top: none !important;*/
    /*border-left: none !important;*/
    /*box-shadow: none !important;*/
    /*border-bottom: 2px solid #FFC200 !important;*/
}

.contact-frm textarea{
    
    border-radius: 4px !important;
    /*height: 45px !important;*/
    /*border-right: none !important;*/
    /*border-top: none !important;*/
    /*border-left: none !important;*/
    /*box-shadow: none !important;*/
    /*border-bottom: 2px solid #FFC200 !important;*/
}

.contact-frm input:focus{
    
    border-color: #FFC200 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #FFC200;

}

.contact-frm textarea:focus{
    
    border-color: #FFC200 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #FFC200;

}

/*.contact-frm input::placeholder {*/
/*  color: #1A292F !important;*/
/*}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}