body {
    margin: 0;
    padding: 0;     overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}


/**** TOP BAR ****/

.top-bar {
    background-color: #427500;
    padding: 6px 0;
}

.top-box>ul {
    margin: 0;
    padding: 0;
}

.top-box>ul>li {
    margin: 0;
    padding: 0;
}

.top-box>ul>li:nth-last-child(2) {
    border-left: 2px solid #fff;
    line-height: 15px;
    padding-left: 20px;
}

.top-box>ul>li:nth-last-child(1) {
    border-left: 2px solid #fff;
    line-height: 15px;
    padding-left: 20px;
}

.top-box ul>li i,
a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.top-box ul>li a:hover {
    color: #fff !important;
}

.search-box>input {
    width: 100%;
    border-radius: 20px;
    border: none;
    height: 40px;
    padding: 0 20px;
}

.search-box>input::placeholder {
    color: #9c9696;
    font-size: 12px;
}

.search-box button {
    position: absolute;
    right: 20px;
    top: 1px;
    background: no-repeat;
    border: none;
    color: #427500;
}

.cart-text p {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
}

.cart-text {
    position: absolute;
    bottom: 13px;
    right: 35px;
}


/**** NAVBAR ****/

.navig-sec {
    box-shadow: 0 6px 9px -8px grey;
    padding: 18px 0px;
    margin-bottom: 2px;
}

.navig ul {
    margin: 0;
    padding: 0;
}

.navig>ul>li {
    padding: 0;
    margin: 0 17px;
}

.navig>ul>li>a {
    color: #7d7d7d !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;     text-decoration: none;
}

.navig>ul>li>a:hover {
    color: #427500 !important;
}
.navig-account-box {
    display: flex;
    align-items: center;
    align-content: center;
}

.navig-account-box span>p {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #292929;
    margin: 0;
    padding: 0;
}

.navig-account-box span a {
    color: #427500;
    font-size: 12px;
    font-weight: 600;     text-decoration: none;
    padding: 0;
    margin: 0px;
    text-transform: capitalize;
}

.navig-account-box span span {
    color: #427500;
    font-size: 12px;
    font-weight: 600;
}

.navig-account-box>span {
    margin: 0 0 0 10px;
}

.banner-image {
    position: relative;
}

.banner-image .banner-txt {
    position: absolute;
    left: 5%;
    top: 22%;
}

.banner-txt>p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #a3a3a3;
    font-weight: 600;
}

.banner-txt h3:nth-of-type(1n) {
    margin: 10px 0;
    padding: 0;
    font-size: 36px;
    color: #282828;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-txt h3:nth-of-type(2n) {
    margin: 10px 0 !important;
    padding: 0 !important;
    font-size: 49px !important;
    color: #427500 !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-theme {
    background: no-repeat;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #427500;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    border-bottom: 3px solid #cfcaca;
}

.btn-theme::after {
    border-bottom: 3px solid #427500;
    width: 0px;
    height: 2.4px;
    transition-duration: 0.5s;
    content: '';
    display: block;
    position: absolute;
}

.btn-theme:hover:after {
    content: '';
    height: 2.4px;
    width: 60px;
    border-bottom: 3px solid #427500;
    display: block;
    webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    position: absolute;
}

.why-choose-bg-cl {
    background-color: #f1f4f3;
    padding: 44px 0;
    margin-top: 15px;
}

.why-choose-box {
    display: flex;
    align-items: center;
    align-content: center;
}

.why-choose-box span>p:nth-of-type(1n) {
    margin: 0;
    color: #427500;
    font-size: 19px;
    font-weight: 500;
    padding: 0;
}

.why-choose-box span>p:nth-of-type(2n) {
    margin: 0;
    padding: 0;
    color: #282828;
    font-size: 14px;
    font-weight: 400;
}

.why-choose-box span {
    margin-left: 15px;
}

section.why-choose-sec h4 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #7d7d7d;
}

section.stock-deals h4 {
    margin: 0 0 45px 0px;
    padding: 0;
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    color: #427500;
    text-align: center;
}

section.stock-deals {
    padding: 60px 0 0 0;
}

.deal-pr-box-p {
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 5px 0px;
    border-radius: 10px;
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.deal-pr-box img {
    margin: 0 auto;
    display: table;
}

.deal-pr-box {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.deal-pr-box:hover .cart-box {
    bottom: 1px;
    right: 3px;
}

.deal-pr-box:hover .deal-pr-box-p {
    background-color: #427500 !important;
}

.cart-box {
    position: absolute;
    bottom: -30px;
    right: 3px;
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}


/***** SLIDER *****/

.carousel-control-prev-icon {
    background-image: url('../images/left-arrow.png');
    height: 57px;
    width: 34px;
}

.carousel-control-next-icon {
    background-image: url('../images/right-arrow.png');
    height: 57px;
    width: 34px;
}

a.hot-deal-prev {
    position: absolute;
    top: 140px;
}

a.hot-deal-next {
    position: absolute;
    top: 140px;
    right: 0;
}

.hot-deal-corner {
    position: relative;
}

.corner-2 {
    position: absolute;
    right: 0;
}

.hot-deal-border {
    position: absolute;
    top: 0;
    right: 0;
}

.corner-1 {
    position: absolute;
    top: 0;
}

.timer {
    display: inline-flex;
}

.time-des p:nth-of-type(1n) {
    font-size: 25px;
    color: #427500;
    font-weight: 500;
    border: 3px solid #427500;
    height: 75px;
    width: 75px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    border-radius: 50%;
    margin: 0px 0 10px 0;
    padding: 0;
}

.time-des p:nth-of-type(2n) {
    font-size: 17px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    width: unset;
    height: unset;
    border: none;
    line-height: unset;
}

.time-des {
    margin: 0 15px;
}

.colon {
    font-size: 35px;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
    line-height: 70px;
}

.hot-deal-box h3 {
    color: #427500;
    font-size: 52px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.hot-deal-box>h3>span {
    font-weight: 700;
}

.hot-deal-box p {
    margin: 0;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #282828;
}


/**** SHOP BY DEPART ****/

section.shop-by-depart h5 {
    font-size: 26px;
    color: #427500;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 40px 0;
    padding: 0;
}

.shop-depart-box-l {
    background-image: url('../images/shop-bg-l.jpg');
    height: 410px;
    padding: 20px 20px;
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.shop-depart-box-l:hover {
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.75);
}

.shop-depart-box-l p {
    font-size: 18px;
    color: #282828;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: inline-block;
    width: 75%;
}

.shop-depart-box-l span {
    float: right;
}

.shop-depart-inner {
    margin-bottom: 20px;
}

.shop-depart-box-l:hover .shop-depart-img {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}

.shop-depart-img {
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    max-width: 347px;
}

.shop-depart-inner-r {
    display: -webkit-inline-box;
}

.shop-depart-inner-r p {
    font-size: 18px;
    color: #282828;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    font-weight: 500;
    width: 55%;
}

.shop-depart-box-r {
    background-image: url('../images/shop-bg-r.jpg');
    height: 195px;
    margin-bottom: 20px;
    padding: 10px 10px;
    position: relative;
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.shop-depart-box-r:hover {
    -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.75);
}

.shop-depart-box-r:hover .shop-depart-img-r {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}

.shop-depart-img-r {
    margin-top: 30px;
    margin-left: -26px;
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    max-width: 125px;
}

.shop-depart-inner-r-icon {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

section.blogs-sec h5 {
    font-size: 26px;
    color: #427500;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 40px 0;
    padding: 0;
}


/***** BLOGS *****/

section.shop-by-depart {
    padding: 60px 0 0 0;
}

.blog-box-img {
    overflow: hidden;
    background-color: #0000009e;
}

.blog-box-img img {
    webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.blog-box-img img:hover {
    opacity: 0.4;
    transform: scale(1.5);
}

.blog-box p:nth-of-type(1n) {
    margin: 8px 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #427500;
}

.blog-box p:nth-of-type(2n) {
    margin: 0 0 0px 0;
    padding: 0;
    color: #282828;
    font-size: 16px;
    font-weight: 400;
}

section.blogs-sec {
    padding: 60px 0 0 0px;
}


/**** LOGO SECTIONS ****/

.logo-box {
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 20px 0;
    webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

section.logo-sec {
    padding: 80px 0;
}

.logo-box:hover {
    background-color: #efefef;
    border: 1px solid #427500;
    border-radius: 0px;
}


/***** FOOTER ****/

.footer-list ul {
    padding: 0;
    margin: 0;
}

.footer-list>ul li {
    padding: 0;
    margin: 0 0 5px 0;
    border: none;
    list-style: none;
}

.footer-list h6 {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 16px;
    color: #282828;
    font-weight: bold;
    text-transform: capitalize;
    background: #f4f4f4;
}

.footer-list ul li a {
    color: #9c9696;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.footer-list>ul li:first-child {
    margin: 0;
}

.footer-list p {
    color: #9c9696;
    margin: 0 0 0 0px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 25px;
}

.footer-list a {
    color: #9c9696;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.footer-first-sec {
    background-color: #f4f4f4;
    padding: 60px 0;
}

.footer-subs-sec h2 {
    color: #282828;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 600;
}

.footer-subs-sec input {
    position: relative;
    border-radius: 40px;
    border: 1px solid #cdcbcb;
    height: 55px;
    width: 99%;
    padding: 0 27px;
}

.footer-subs-sec span {
    position: absolute;
    /* left: 225px; */
    right: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #353535;
}

.footer-subs-sec {
    padding: 45px 0 0 0;
}

.footer-subs-sec button {
    height: 55px;
    border-radius: 50px;
    border: none;
    background-color: #427500;
    border: 1px solid #427500;
    color: #fff;
    text-transform: capitalize;
    font-size: 27px;
    padding: 0 30px;
    cursor: pointer;
    webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.footer-subs-sec input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: #353535;
}

.footer-subs-sec button:hover {
    color: #427500;
    background-color: #fff;
}

.footer-downloads-sec p {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 21px;
    font-weight: 600;
    text-transform: capitalize;
    color: #282828;
}

.footer-downloads-sec {
    padding: 50px 0 45px 0;
}

.footer-social-icons ul {
    margin: 0;
    padding: 0;
}

.footer-social-icons ul li {
    margin: 0;
    padding: 0;
}

.footer-social-icons ul li a {
    color: #4d4d4d;
    font-size: 20px;
    border: 1px solid #ededed;
    padding: 4px 10px;
    border-radius: 6px;
    webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.footer-social-icons ul li a:hover {
    color: #f4f4f4;
    background-color: #4d4d4d;
}

.footer-copy-sec {
    background-color: #353535;
}

.footer-copy-sec p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: 20px 0;
    padding: 0;
    display: inline-block;
}

.terms-links {
    display: inline-block;
}

.terms-links ul li {
    margin: 0;
    padding: 0 0px 0 12px;
    border-left: 1px solid #fff;
    line-height: 15px;
}

.terms-links ul li a {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}


/***** CURSOR *****/

.cursor {
    width: 30px;
    height: 30px;
    border: 2px solid #1f2021;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .6s infinite alternate;
    pointer-events: none;
    z-index: 9999999;
}

.cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 8px solid #427500;
    border-radius: 50%;
    opacity: .85;
    top: -1px;
    left: -1px;
    animation: cursorAnim2 .6s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.5);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid #0331e4;
}


/***** TOP BUTTON *****/

#button {
    display: inline-block;
    background-color: #427500;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 21px;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.mt-40 {
    margin-top: 40px;
}


/***** CATEGORIES *****/
section.categories-sec {
    padding: 70px 0 0 0;
}

.inner-banner {
    /*background-color: #427500;*/
    background-image: url('../images/inner-banner.jpg');
    background-size: cover;
    height: 250px;
    position: relative;
}

.inner-banner-txt {
    /* position: absolute; */
    /* top: 45%; */
    /* left: 31%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-banner-txt h4 {
    color: #427500;
    text-transform: uppercase;
    font-size: 35px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}


/*.single-collections-box {
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.single-collections-box img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.single-collections-box .category {
    position: absolute;
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.single-collections-box:hover img, .single-collections-box:focus img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.single-collections-box .category h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 7px;
    position: relative;
    z-index: 1;
}
.single-collections-box .category span {
    color: #666666;
    position: relative;
    display: block;
    z-index: 1;
}
.single-collections-box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    }*/

    section.categories-sec h5 {
        margin: 70px 0;
        padding: 0;
        font-size: 26px;
        font-weight: 600;
        text-transform: capitalize;
        color: #427500;
        text-align: center;
    }

    .cat-txt {
        /* background-color: #427500; */
        /* color: #fff; */
        text-align: center;
        /* border-radius: 6px; */
        padding: 13px 0;
        margin-top: 15px;
        border: 2px solid #1f2021;
    }

    .cat-txt h6 {
        padding: 0 0 7px 0;
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        color: #292929;
    }

    .cat-txt p {
        padding: 0;
        margin: 0;
        font-size: 15px;
        color: #292929;
        text-transform: capitalize;
        /* font-weight: 500; */
    }

    .cat-box img:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    .cat-box img {
        webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }

    .cat-box {
        margin-bottom: 70px;
    }


    /*****  PRODUCTS ******/

    section.products-sec h5 {
        margin: 70px 0;
        padding: 0;
        font-size: 26px;
        font-weight: 600;
        text-transform: capitalize;
        color: #427500;
        text-align: center;
    }


    /** PRODUCT **/

    .product-grid {
        font-family: Raleway, sans-serif;
        text-align: center;
        padding: 0 0 72px;
        border: 1px solid rgba(0, 0, 0, .1);
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
    }

    .product-grid .product-image {
        position: relative;
        transition: all .3s ease 0s;
        padding-top: 50px;
    }

    .product-grid .product-image a {
        display: block
    }

    .product-grid .product-image img {
      /* width: auto; */
      /* height: 100%; */
      /* height: 72px; */
      max-width: 162px;
      /* width: 162px; */
      object-fit: cover;
      height: 182px;
  }

  .product-grid .pic-1 {
    opacity: 1;
    transition: all .3s ease-out 0s
}

.product-grid:hover .pic-1 {
    opacity: 1
}

.product-grid .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-out 0s
}

.product-grid:hover .pic-2 {
    opacity: 1
}

.product-grid .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
}

.product-grid:hover .social {
    opacity: 1;
    top: 50%;
    display: flex;
    justify-content: center;
}

.product-grid .social li {
    display: inline-block
}

.product-grid .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out;
    padding: 10px;
}

.product-grid .social li a:hover {
    color: #fff;
    background-color: #427500
}

/*.product-grid .social li a:after,*/
/*.product-grid .social li a:before {*/
    /*    content: attr(data-tip);*/
    /*    color: #fff;*/
    /*    background-color: #000;*/
    /*    font-size: 12px;*/
    /*    letter-spacing: 1px;*/
    /*    line-height: 20px;*/
    /*    padding: 1px 5px;*/
    /*    white-space: nowrap;*/
    /*    opacity: 0;*/
    /*    transform: translateX(-50%);*/
    /*    position: absolute;*/
    /*    left: 50%;*/
    /*    top: -30px*/
    /*}*/

    .product-grid .social li a:after {
        content: '';
        height: 15px;
        width: 15px;
        border-radius: 0;
        transform: translateX(-50%) rotate(45deg);
        top: -20px;
        z-index: -1
    }

    .product-grid .social li a:hover:after,
    .product-grid .social li a:hover:before {
        opacity: 1
    }

    .product-grid .product-discount-label,
    .product-grid .product-new-label {
        color: #fff;
        background-color: #427500;
        font-size: 12px;
        text-transform: uppercase;
        padding: 2px 7px;
        display: block;
        position: absolute;
        top: 10px;
        left: 0
    }

    .product-grid .product-discount-label {
        background-color: #333;
        left: auto;
        right: 0
    }

    .product-grid .rating {
        color: #FFD200;
        font-size: 12px;
        padding: 12px 0 0;
        margin: 0;
        list-style: none;
        position: relative;
        z-index: -1
    }

    .product-grid .rating li.disable {
        color: rgba(0, 0, 0, .2)
    }

    .product-grid .product-content {
        background-color: #fff;
        text-align: center;
        padding: 3px 0;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -27px;
        z-index: 1;
        transition: all .3s;
    }

    .product-grid:hover .product-content {
        bottom: 0
    }

    .product-grid .title {
        font-size: 13px;
        font-weight: 400;
        letter-spacing: .5px;
        text-transform: capitalize;
        margin: 0 0 10px;
        transition: all .3s ease 0s
    }

    .product-grid .title a {
        color: #828282
    }

    .product-grid .title a:hover,
    .product-grid:hover .title a {
        color: #427500
    }

    .product-grid .price {
        color: #333;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: .6px;
        margin-bottom: 8px;
        text-align: center;
        transition: all .3s
    }

    .product-grid .price span {
        color: #999;
        font-size: 13px;
        font-weight: 400;
        text-decoration: line-through;
        margin-left: 3px;
        display: inline-block
    }

    .product-grid .add-to-cart {
        color: #000;
        font-size: 13px;
        font-weight: 600;
        background: none;
        border: none;
        cursor: pointer;
    }
    .product-grid .add-to-cart:focus {
        border: none !important;
        outline: none;
    }
    /*** product-detail ****/

    .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .preview-pic {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .preview-thumbnail.nav-tabs {
        border: none;
        margin-top: 15px;
    }

    .preview-thumbnail.nav-tabs li {
        width: 18%;
        margin-right: 2.5%;
    }

    .preview-thumbnail.nav-tabs li img {
        max-width: 100%;     height: 110px;
        display: block;
    }

    .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0;
    }

    .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0;
    }

    .tab-content {
        overflow: hidden;
    }

    .tab-content img {
        /* width: 100%; */
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        margin: 0 auto;
        display: table;
    }

    .card {
        /* margin-top: 50px; */
        border: none !important;
        /* padding: 3em; */
        line-height: 1.5em;
    }



    .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .colors {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .product-title,
    .price,
    .sizes,
    .colors {
        text-transform: UPPERCASE;
        font-weight: bold;
    }

    .checked,
    .price span {
        color: #ff9f1a;
    }

    .product-title,
    .rating,
    .product-description,
    .price,
    .vote,
    .sizes {
        margin-bottom: 15px;
    }

    .product-title {
        margin-top: 0;
    }

    .size {
        margin-right: 10px;
    }

    .size:first-of-type {
        margin-left: 40px;
    }

    .color {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        border-radius: 2px;
    }

    .color:first-of-type {
        margin-left: 20px;
    }

    .add-to-cart-inner,
    .like {
        background: #427500;
        padding: 10px 30px;
        border: none;
        text-transform: UPPERCASE;
        font-weight: bold;
        color: #fff;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
    }

    .add-to-cart-inner:hover,
    .like:hover {
        background: #292929;
        color: #fff;
    }

    .not-available {
        text-align: center;
        line-height: 2em;
    }

    .not-available:before {
        content: "\f00d";
        color: #fff;
    }

    .orange {
        background: #ff9f1a;
    }

    .green {
        background: #85ad00;
    }

    .blue {
        background: #0076ad;
    }

    .tooltip-inner {
        padding: 1.3em;
    }

    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    section.prod-detail-sec {
        padding: 100px 0;
    }

    .prod-detail-tabs ul {
        padding: 0;
        margin: 0;
    }

    .prod-detail-tabs ul li {
        padding: 0;
        margin: 0;
        /* text-align: center; */
        width: 100%;
    }

    .prod-detail-tabs ul li a {
        padding: 13px 10px;
        margin: 0;
        border-radius: 0px !important;
        font-size: 18px;
        color: #427500;
        font-weight: 500;
        webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }

    .prod-detail-tabs {
        margin: 80px 0 0 0;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: #292929 !important;
        position: relative;
        /* border: 4px solid #c2e1f5; */
    }

    .nav-link.active:before {
        left: 98%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .nav-link.active:after {
        border-color: rgba(66, 117, 0, 0);
        border-left-color: #427500;
        border-width: 20px;
        margin-top: -20px;
    }

    .nav-link.active:before {
        border-color: rgba(194, 225, 245, 0);
        border-left-color: #292929;
        border-width: 20px;
        margin-top: -20px;
    }

    div#descrip p {
        font-size: 15px;
        font-weight: 300;
        margin: 0;
        padding: 0;
        line-height: 27px;
    }

    .review-box img {
        /* display: inline; */
        margin: 0;
        display: block;
        max-height: 80px;
    }

    .review-box {
        display: inline-flex;
    }

    .review-box-comm {
        margin-left: 30px;
        border: 1px solid #427500;
        padding: 10px 30px;
        margin-bottom: 20px;
    }

    .review-box-comm .rating {
        margin: 0;
    }

    .review-box-comm h6 {
        margin: 10px 0;
        padding: 0;
        font-size: 15px;
    }

    .review-box-comm p {
        margin: 0;
        padding: 0;
        font-size: 13px;
        line-height: 21px;
    }

    .review-box-comm h6>span {
        font-weight: 400;
        font-style: italic;
    }


    /***** CART *****/

    td.pro-thumbnail img {
        max-width: 140px;
        margin: 0 auto;
        display: table; height: 140px;
    }

    .cart-table .table thead tr th {
        border-color: #427500;
        border-bottom: 0 solid transparent;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 15px 20px;
        text-align: center;
        text-transform: uppercase;
    }

    .cart-table .table thead {
        background-color: #427500;
    }

    .cart-table .table tbody tr td {
        border-color: #ccc;
        text-align: center;
        padding: 10px 20px;
        vertical-align: middle;
        font-weight: 600;
        color: #333333;
    }

    .cart-table .table tr .pro-qty {
        width: 90px;
        height: 35px;
        border: 1px solid #ddd;
        padding: 0 15px;
        float: left;
    }

    .cart-table .table tr .pro-qty .qtybtn {
        width: 15px;
        display: block;
        float: left;
        line-height: 38px;
        cursor: pointer;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        color: #666666;
    }

    .cart-table .table tr .pro-qty input {
        width: 28px;
        float: left;
        border: none;
        height: 34px;
        line-height: 34px;
        padding: 0;
        text-align: center;
        background-color: transparent;
    }

    .cart-table .table tr .pro-qty .qtybtn {
        width: 15px;
        display: block;
        float: left;
        line-height: 38px;
        cursor: pointer;
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        color: #666666;
    }

    .cart-table .table tbody tr td a {
        color: #333333;
        font-weight: 500;
        text-transform: capitalize;
    }


    .cart-update-option {
        border: 1px solid #ccc;
        /* margin-top: 15px; */
        padding: 15px 20px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }


    .input.input--nao input {
        width: 100%;
        border-bottom: 2px solid #427500;
        border-top: none;
        border-right: none;
        border-left: none; outline: none;
        padding: 5px;
    }

    .cart-update-option .apply-coupon-wrapper {
        width: 55%;
    }

    .cart-update-option .apply-coupon-wrapper form {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        white-space: nowrap;
    }

    .cart-update-option .apply-coupon-wrapper form input {
        border: 1px solid #427500;
        font-size: 14px;
        padding: 12px 10px;
        outline: none;
        /* margin-right: 15px; */
        width: 100%;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    button.btn.btn__bg.btn__sqr {
        background-color: #427500;
        color: #fff;
        border-radius: 0px !important;
        padding: 10px 30px;
        margin-left: 9px;
        font-weight: 500;
        webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }

    a.btn.btn__bg.btn__sqr {
        background-color: #427500;
        color: #fff;
        border-radius: 0px !important;
        padding: 10px 30px;
        font-weight: 500;
        webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }

    a.btn.btn__bg.d-block {
        background-color: #427500;
        border-radius: 0px;
        color: #fff;
        webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }

    button.btn.btn__bg.btn__sqr:hover {
        background-color: #292929;
    }

    a.btn.btn__bg.btn__sqr:hover {
        background-color: #292929;
    }

    a.btn.btn__bg.d-block {
        background-color: #292929;
    }

    .cart-calculator-wrapper {
        margin-top: 30px;
        background-color: #f8f8f8;
    }

    .cart-calculator-wrapper .cart-calculate-items {
        font-weight: 500;
    }

    .cart-calculator-wrapper h3 {
        color: #333333;
        font-size: 18px;
        font-weight: 500;
        padding: 27px 15px 25px;
        margin-bottom: 0;
    }

    .cart-calculator-wrapper .cart-calculate-items .table {
        margin-bottom: 0;
    }

    .cart-calculator-wrapper .cart-calculate-items .table tr td {
        color: #333333;
        padding: 15px 20px;
    }

    .cart-main-wrapper.pt-60.pb-60 {
        margin: 70px 0;
    }


    /**** CHECKOUT ****/

    .checkout-billing-details-wrap h2 {
        color: #333333;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }

    .checkout-billing-details-wrap .billing-form-wrap {
        margin-top: -20px;
    }

    .single-input-item {
        margin-top: 20px;
    }

    .single-input-item label {
        color: #333333;
        text-transform: capitalize;
        font-size: 14px;
    }

    .single-input-item label.required:after {
        content: '*';
        color: red;
        font-size: 14px;
        margin-left: 3px;
        margin-top: 5px;
    }

    .single-input-item input,
    .single-input-item textarea {
        color: #666666;
        border: 1px solid #ccc;
        padding: 12px 10px;
        width: 100%;
        font-size: 14px;
        background: #f7f7f7;
    }

    ::-webkit-input-placeholder {
        color: #999;
        font-size: 13px;
        font-style: italic;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #999;
        font-size: 13px;
        font-style: italic;
        opacity: 1;
    }

    ::-ms-input-placeholder {
        color: #999;
        font-size: 13px;
        font-style: italic;
        opacity: 1;
    }

    ::placeholder {
        color: #999;
        font-size: 13px;
        font-style: italic;
        opacity: 1;
    }

    textarea {
        resize: none !important;
    }

    .single-input-item select {
        width: 100%;
        border-radius: 0;
        height: 48px;
        border-color: #ccc;
        background-color: #f7f7f7;
        color: #666666;
        border: 1px solid #ccc;
        padding: 12px 10px;
        width: 100%;
        font-size: 14px;
        background: #f7f7f7;
    }

    .order-summary-details h2 {
        color: #333333;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }

    .order-summary-table {
        background-color: #f7f7f7;
        margin-top: 34px;
    }

    .order-summary-table .table,
    .order-summary-table table {
        color: #333333;
        margin-bottom: 0;
        font-size: 15px;
        white-space: nowrap;
    }

    .order-summary-table .table tr td,
    .order-summary-table .table tr th,
    .order-summary-table table tr td,
    .order-summary-table table tr th {
        font-weight: 500;
        vertical-align: middle;
        padding: 15px 10px;
        border-width: 1px;
    }

    .order-payment-method {
        background-color: #f7f7f7;
        padding: 40px 20px 30px;
    }

    ul.shipping-type li {
        list-style-type: none;
    }

    section.checkout-sec {
        margin: 60px 0;
    }


    /*SIGN-IN*/
    .login-page {
        display: flex;
        align-items: center;
        height: 100vh;
        background: url(../images/login-bg.jpg);
        background-size: cover;
    }
    .login-box {
        padding: 30px 20px;
        background-color: #FFF;
        width: 100%;
        display: block;
        margin: 0 auto;
        box-shadow: 0px 0 16px 0px #4275008a;
        border: 2px solid #427500;
    }
    .login-box img {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .custom-radio001 ul{
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: auto;
  }

  .custom-radio001 ul li{
      color: #AAAAAA;
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: auto;
  }

  .custom-radio001 ul li input[type=radio]{
      position: absolute;
      visibility: hidden;
  }

  .custom-radio001 ul li label {
    display: block;
    position: relative;
    font-size: 16px;
    padding: 10px 25px 25px 60px;
    height: 0;
    z-index: 9;
    text-align: left;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    color: #467805;
}

.custom-radio001 ul li:hover label{
    color: #000;
}

.custom-radio001 ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 9px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.custom-radio001 ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 11px;
    width: 11px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.custom-radio001 input[type=radio]:checked ~ .check {
  border: 5px solid #427500;
}

.custom-radio001 input[type=radio]:checked ~ .check::before{
  background: #427500;
}

.custom-radio001 input[type=radio]:checked ~ label{
  color: #427500;
}
.login-box button {
    background-color: #427500;
    border: none;
    width: 93%;
    margin-top: 10px;
    padding: 8px 0px;
    color: #FFF;
    text-transform: capitalize;
    font-size: 20px;     cursor: pointer;     border-radius: .25rem;
}

.login-box button:hover{ background:#292929;}
.login-footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 15px;
}
.login-footer ul li {
    list-style: none;
    padding: 0px 25px;
}
.login-footer a {
    text-decoration: none;
    text-transform: capitalize;
    color: #427500;
}
/*CONTACT-US*/
.contact-banner {
    background-image: url(../images/contact-banner.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
    background-position: center;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-banner h4 {
    color: #FFF;
    text-transform: capitalize;
    font-size: 50px;
}
.contact-first {
    padding: 100px 0px;
}

.material {
    position: relative;
    padding: 0;
    margin: 0px 0px 30px 0px;
    border: none;
    overflow: visible;
}
.material input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 0px 8px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #DDD;
    font-size: 14px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    cursor: text;
    text-transform: capitalize; 
    color: #427500;
}
.material input::-webkit-input-placeholder {
  transition: color 300ms ease;
}
.material input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
.material hr {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #427500;
  font-size: 1px;
  will-change: transform, visibility;
  transition: all 200ms ease-out;
  transform: scaleX(0);
  visibility: hidden;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
}
.material input:focus ~ hr {
  transform: scaleX(1);
  font-family: 'Montserrat', sans-serif;
  visibility: visible;
}
.material label {
    position: absolute;
    top: 12px;
    left: 0px;
    font-size: 16px;
    color: #427500;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.material input:focus ~ label,
.material input:valid ~ label {
  transform: scale(0.6);
}
.contact-forum 
textarea {
    display: block;
    width: 100%;
    border: 0;
    padding: 10px 5px;
    background: white no-repeat;
    
    /*
    * IMPORTANT PART HERE
    */
    
    /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
    background-image: linear-gradient(to bottom, #427500, #427500), linear-gradient(to bottom, silver, silver);
    /* sizes for the 2 images (default state) */
    background-size: 0 2px, 100% 1px;
    /* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
    background-position: 50% 100%, 50% 100%;

    /* animation solely on background-size */
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    font-size: 16px;
    color: #427500;
    text-transform: capitalize;
    height: 150px; 
}

.btn-shop {
    color: #ffffff;
    background-color: #427500;
    border-color: #427500;
    margin-top: 5px;
    margin-top: -60px;
}

.btn-shop:hover{
    background-color: #427500;
    border-color: #427500;


} 

.contact-forum ,
textarea:focus{
  /* sizes for the 2 images (focus state) */
  background-size: 100% 2px, 100% 1px;
  outline: none;
}
.contact-forum textarea::placeholder {
    font-size: 16px;
    color: #427500;
    font-style: unset;
}
.contact-forum button {
    background-color: #427500;
    border: none;
    width: 22%;
    margin-top: 10px;
    padding: 10px 0px;
    cursor: pointer;
    color: #FFF;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 30px;
}
.contact-information h4 {
    text-transform: capitalize;
    color: #427500;
    font-size: 20px;
}
.contact-information p {
    line-height: 24px;
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 20px;
}
.contact-forum h4 {
    text-transform: capitalize;
    color: #427500;
    font-size: 20px;
}
.contact-information ul {
    padding: 0px;
    margin: 0px;
}
.contact-information ul li {
    list-style: none;
    line-height: 34px;
}
.contact-information ul li i {
    padding-right: 15px;
    color: #427500;
}
.contact-information ul li a {
    text-decoration: none;
    color: #212529;
}
.dropdown-container {
    font-family: 'Montserrat', sans-serif;
    display: none;
    font-weight: 600;
    background-color: transparent;
}
.sidenav i {
    font-weight: 400;
    float: right;
    font-size: 11px;
    line-height: 1;
    color: #427500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
    width: 20px;
    height: 20px;
}
.sidenav i:hover{
    border-radius: 50%;
    color: #fff;
    background: #427500;
} 
.dropdown-btn:focus {
    outline: none;
}
.sidenav a, .dropdown-btn {
    font-size: 13px;
    text-decoration: none;
    padding: 0px;
    color: #000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
}
.dropdown-btn {
    font-size: 15px;
}
.sidenav {
    /* margin-top: 100px; */
}
.sidenav h4 {
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    margin-bottom: 30px;   
    font-weight: 500;
}
.dropdown-container {
    position: relative;
}
.dropdown-container::before {
    content: "";
    border-left: 2px solid #427500;
    position: absolute;
    top: 50%;
    left: 4px;
    height: 95%;
    transform: translateY(-50%);
}
.dropdown-container a {
    padding-left: 15px;
}
.side-nav-second {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
.side-nav-second ul li span {
    float: right;
    color: #427500;
    font-weight: 600;
}
.side-nav-second ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
}
.side-nav-second h4 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 20px;
}
.side-nav-third h4 {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 30px;
    font-weight: 500;
    margin-top: 50px;
    font-size: 20px;
}
.side-nav-third h6 {
    font-family: 'montserrat', sans-serif;
    font-size: 13px;
    color: #000;
    margin-bottom: 8px;
    font-weight: 500;
    margin-top: 8px;
}
.side-nav-third h5 {
    font-family: 'montserrat', sans-serif;
    font-size: 15px;
    color: #000;
}
.side-nav-third img {
    margin-bottom: 50px;
}
.side-nav-third h3 {
    color: #888686;
    font-family: 'montserrat', sans-serif;
    font-size: 13px;
    text-decoration: line-through;
    display: inline-block;
}
.side-nav-second ul {
    padding: 0px;
    margin: 0;
}
.side-nav-second ul li {
    list-style: none;
}
.side-nav-third span {
    color: #0c6a37;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    font-family: 'montserrat', sans-serif;
    padding-left: 5px;
}
.sec:hover .vape-box-overlay {
    opacity: 1;
}
.shop-frist-sec {
    padding: 70px 0;
}
.box02 h6 {
    text-align: center;
    font-size: 13px;
    font-family: 'montserrat', sans-serif;
    margin-bottom: 10px;
    margin-top: 15px;
    color: #282828;
    font-weight: 500;
}
.box02 h4 {
    font-size: 15px;
    font-family: 'montserrat', sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: 500;
    color: #282828;
}
.box02 {
    margin-bottom: 50px;
}
.box02 h5 {
    text-align: center;
    color: #282828;
    font-family: 'montserrat', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: #0c6a37;
}
.bestseller {
    margin: 100px 0px 50px 0px;
}
.bestseller h5 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333333;
    text-transform: capitalize;
}

.center{ display:block; margin:0 auto; float:none;}
.new-arival h5 {
    margin: 0 0 40px 0px;
    padding: 0;
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
    color: #427500;
    text-align: center;
}
.terms-banner {
    background: url(../images/terms-banner.jpg);
    width: 100%;
    background-size: cover;
    height: 250px;
    position: relative;
}
.terms-condition {
    padding: 60px 0px;
}
.terms-condition h5 {
    font-size: 50px;
    text-transform: capitalize;
    color: #427500;
    font-weight: 500;
    margin-bottom: 40px;
}
.terms-condition h4 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
    color: #1f2021;
}
.terms-condition p {
    font-size: 15px;
    margin-top: 10px;
    color: #282828;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 40px;
}
.privacy-banner {
    background: url(../images/privacy-banner.jpg) !important;
    width: 100%;
    background-size: cover;
    height: 250px;
    position: relative;
}
.privacy-sec {
    padding: 60px 0px;
}
.privacy-sec h5 {
    font-size: 50px;
    text-transform: capitalize;
    color: #427500;
    font-weight: 500;
    margin-bottom: 40px;
}
.privacy-sec h4 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
    color: #1f2021;
}
.privacy-sec p {
    font-size: 15px;
    margin-top: 10px;
    color: #282828;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 40px;
}

.terms-links ul li a:hover {
    color: #427500;
}

.top50 {
    margin-top: 100px;
}
.two {
    padding-top: 60px;
}
.best-seller-sec {
    padding: 70px 0;
}
.new-list p.category-name{
    font-size: 18px;
    font-weight: 500;
}
.new-list ul{
    list-style-type: none;
    padding-left: 15px;
}
.new-list ul li{
    position: relative;
    padding-left: 15px;
}

/*.new-list ul li.sub-item:before{
    content: '+';
     position: absolute;
    top: 4px;
    left: -0px;

    }*/
    .product-grid .social  button {
        color: #fff;
        background-color: #333;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        height: 40px;
        width: 40px;
        margin: 0 2px;
        display: block;
        position: relative;
        transition: all .3s ease-in-out; border: none; cursor: pointer;
    }
    .product-grid .social  button:hover {
        color: #fff;
        background-color: #427500;
    }


    .product-image {
     background: #fff; 
     width: 100%;
     height: 250px;
     overflow: hidden;
 }




ul.paginations li {
    padding: 5px 11px;
    background: #427500;
}

ul.paginations li a {
    color: #fff !important;
    font-size: 17px;
    font-weight: bold;
}









/*categorry*/
ul.paginations {
    padding-left: 0;
    position: absolute;
    list-style: none;
    bottom: -124%;
    display: flex;
    left: 0;
    right: -245px;
    justify-content: center;
    top: 2039px;
    height: 36px;
}


/*product*/
ul.paginations {
    padding-left: 0;
    position: absolute;
    list-style: none;
    top: 3185px;
    display: flex;
    left: 52%;
    justify-content: center;
}

/*sale*/
ul.paginations {
    padding-left: 0;
    position: absolute;
    list-style: none;
    top: 3200px;
    display: flex;
    left: 892px;
    justify-content: center;
}

ul.paginations li {
    padding: 5px 11px;
    background: #427500;
}


/*sub category*/
ul.paginations {
    padding-left: 0;
    position: absolute;
    list-style: none;
    bottom: -122%;
    display: flex;
    left: 0;
    right: -261px;
    justify-content: center;
    top: 2039px;
    height: 38px;
}


ul.paginations li {
    padding: 5px 11px;
    background: #427500;
}

ul.paginations li {
    padding: 5px 11px;
    background: #427500;
}

ul.paginations li a {
    color: #fff !important;
    font-size: 17px;
    font-weight: bold;
}

div.paginations{
    text-align: center;
}

div.paginations strong{
    padding: 10px;
    background: #41751a;
    color: #fff;
    margin-right: 10px;
    border-radius: 5px;
}

div.paginations a{
    background: #e4e4e4;
    padding: 10px;
    margin-right: 10px;
    color: #000;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

div.paginations a:hover{
    background: #41751a;
    color: #fff;
}


.search-box input {
    background: #fff;
    border: 2px solid #fff;
    width: 100%;
    padding: 1px 15px;
    font-size: 14px;
    border-radius: 2px;
    outline: none;
}
.search-box input::placeholder{color:#000;}

.tab-content img {
    
    height: 280px;
}




.slider .owl-nav {
    position: relative;
}


.slider .owl-prev {
    position: absolute;
    top: -160px;
    font-size: 40px;
    left: 0;
    color: #656565;
}


.slider .owl-next {
    position: absolute;
    top: -160px;
    font-size: 40px;
    right: 0;
    color: #656565;
}

