@media only screen and (max-width:990px) {
    .product-grid {
        margin-bottom: 30px
    }
}
@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media only screen and (min-width: 1200px),
only screen and (max-width: 1199.98px) and (min-width: 992px) {
    .cart-update-option {
        margin-top: 0;
        border-top: 0 solid transparent;
    }
}


@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
    .top-box>ul>li:nth-last-child(1) {
        padding-left: 5px;        
    }
    .top-box>ul>li:nth-last-child(2) {
        padding-left: 5px; 
    }
    .list-inline-item:not(:last-child) {
        margin-right: 7px;
    }
    .search-box button {
       right: 20px;
    top: 9px;
    }
    .search-box input {
        margin-top: 10px;
        padding: 0px 20px 0px 0px;
    }
    .navig ul li {
        display: block;
    }
    .navig-account-box {
        margin-left: 20px;
    }
    .navig ul li {
        line-height: 30px;
    }
    .navig ul {
        margin: 10px 0px;
    }
    .footer-subs-sec h2 {
        font-size: 19px; 
        margin-bottom: 20px;    
    }
    .footer-subs-sec button {
        height: auto;
        padding: 7px 20px;
        font-size: 20px;
    }
    .footer-subs-sec input {
        height: auto;
        padding: 10px;
        width: 98%;    
    }


.moble-styleing {
    width: 68px;
}

.toogle {
 background: #427500;
    padding: 4px 10px; 
}

.navig{ display: none; background-color: #1f2021; }


.cart-text p {
    left: 13px;
    position: relative;
    top: 9px; font-size: 7px;
}
.navig-account-box{ display: none; }

.navig>ul>li>a {
    color: #ffffff !important;}

.banner-image .banner-txt {
    position: absolute;
    left: 0;
    top: 3px;
}

.banner-txt h3:nth-of-type(1n) {
    margin: 3px 0;
    font-size: 15px;}

    .banner-txt h3:nth-of-type(2n) {
    margin: 3px 0 !important;     font-size: 17px !important;}

    .banner-txt>p {

    font-size: 12px;}

.why-choose-bg-cl {

    padding: 0 0;}

section.stock-deals h4 {
    margin: 0 0 30px;

    font-size: 16px;}

    section.stock-deals {
    padding: 20px 0 0 0;
}

.footer-subs-sec {
    padding: 0px 0 0 0;
}


.time-des p:nth-of-type(1n) {

    padding: 0;
    display: block;
    margin: 0 auto 7px;
}


.timer {
    display: unset;
}

.slider .owl-prev, .slider .owl-next{ display: none; }


.new-list ul li {

    padding-left: 0;
}

.side-nav-third img {
    display: block;
    margin: 0 auto;
}

.inner-banner-txt h4 {
   
    font-size: 21px;}


.new-arival h5 {
    margin: 0 0 10px 0px;
  
    font-size: 25px;}


.contact-first {
    padding: 50px 0px 10px;
}

.contact-forum button {

    width: 50%;}

    td.pro-thumbnail img {
    max-width: 30px;}

    .cart-table .table tbody tr td a {

    font-size: 10px;
}

}

